body {
    background-color: grey;
}

header {
    background-color: green;
    height: fit-content;
    color: white;
    padding: 20px;
    border: 5px dotted;
}

header ul {

    padding: 10px;
    line-height: 25px;
}

header li {
    display: inline;
    
}

header h1 {
    font-size: 60px;
    text-align: center;
}

header span:hover {
    color: blue;
}

.me {
    height: 500px;
    width: 500px;
    border: 5px solid;
    border-color: black;
    padding: 20px;
}

.container {
    border: 5px solid black;
    padding: 20px;
    width: 750px;
    position: absolute;
    right: 50px;
    top: 200px;
    height: fit-content;
    line-height: 25px;
}

main ul{
    list-style-type: square;

}

.projects h2 {
    padding: 20px;
    text-align: center;
}

.projects img {
    flex: 1 0 0;
  padding: 25px;
  text-align: center;
}

.projects img:hover,
.projects img:focus {
    width: 50%;
    height: 50%;
}

footer {
    background-color: green;
    height: fit-content;
    color: white;
    padding: 100px;
    font-size: 25px;
}

footer h3 {
    text-align: center;
    position: relative;
    top: -25px;
}

@media only screen and (max-width: 1000px) {
      .container {
        width: 150px;
        position: absolute;
        right: 0px;
      }
    }